#spotlight .effect, #footer .effect { background:url("../images/colors/red-spotlight-effect-bg.jpg") no-repeat scroll center top transparent;}

#spotlight, #footer { background: #960100 url("../images/colors/red-spotlight-rpt-bg.jpg") repeat-x center top; }

#featurenav a, #featurenav span { background:#660100; }

#featurenav span.playpause { background:#660100;}

a,.commentlist cite,.commentlist cite a, #sub_head #subnav .current_page_item a, #grandchildnav .current_page_item > a, .branding h1 a:hover, #nav ul li a:hover, #nav .current_page_item a, #nav .current_page_item a:hover, #nav .current_page_ancestor,#nav ul li a:active, .post-comments a:hover{ color:#BE0100;}

.carouselcontainer .content ul li img {	border:1px solid #BE0100;}

#welcome  {
	background:url("../images/colors/red-welcome-bg.jpg") repeat-x scroll left top #002C5C;
	border-color:#810100 #000 #000 #810100;
	text-shadow:0 1px 0 #000;
}

#welcome .welcometext {
	border-left:1px solid #E8787F;
	border-top:1px solid #E8787F;
}